player-connection-mode=Listen
player-connection-guid=4275853188
player-connection-debug=0
player-connection-project-name=KTP_Zealand26Synopsis_ECSStressTest
player-connection-ip=25.15.29.136
player-connection-ip=192.168.1.47
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2de1e14893904cae8331ef062fe3caad
