player-connection-mode=Connect
player-connection-guid=2753516619
player-connection-debug=0
player-connection-project-name=KTP_Zealand26Synopsis_ECSStressTest
player-connection-wait-timeout=-1
player-connection-ip=25.15.29.136
player-connection-ip=192.168.0.59
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2b03ec0a1b4d4613a53d3f0c1afc9bca
